<div class="content" id="content_code" style='background-color:rgba(0,0,0,0.8)'>
  <div class="waiting">
    <div class="bubblingG">
      <p id="bubblingG_1"></p>
      <p id="bubblingG_2"></p>
      <p id="bubblingG_3"></p>
    </div>
  </div>
</div>

<div class="popup">
  <form id="add_code">
    <div class="title">Add Code</div>
    <div class="row">
      <label for="code">Code:</label>
      <input type="text" id="code"/>
    </div>
    <div class="row">
      <label for="text">Text:</label>
      <textarea id='text'></textarea>
    </div>
    <div style="clear: both"></div>
    <input type="submit" class='btn_green' value="Save"/>
  </form>
</div>

<%= render "/express_translate/templates/code_item" %>

<script>

<% if @origin_lang["id"] == params["id"] %>
  $(".add").show();
<% else %>
  $(".add").hide();
<% end %>

  $(".back").attr({href:"/express_translate/package/<%= params[:package] %>"});
  
  var form = $("#add_code");
  var contentCode = $("#content_code");
  var popup = $('.popup');
  
  var runJavascriptsCode = function () {
    
    var update = function (event) {
      var edit = $(event.target).parents(".edit");
      var item = $(event.target).parents(".item_box");
      item.addClass("wait");
      $.ajax({
        type: "POST",
        url: $(event.target).attr("href"),
        data: {
          code: $(event.target).attr("data"),
          lang: "<%= params[:id] %>",
          pack: "<%= params[:package] %>",
          text: edit.find(".new_value").val()
        },
        success: function(data) {
          if (data.success) {
            var template = Handlebars.compile($("#code_item").html());
            var html = template(data);
            item.removeClass("wait");
            item.removeClass("update");
            window.notification("Successful for update!", true);
            contentCode.html(html);
            runJavascriptsCode();
          }
        }
      })
    }
    
    var add = function (){
      $.ajax({
        type: "POST",
        url: "/express_translate/ajax/code/add",
        data: {
          lang: "<%= params[:id] %>",
          pack: "<%= params[:package] %>",
          code: form.find("#code").val(),
          text: form.find("#text").val()
        },
        success: function(data) {
          if (data.success) {
            var template = Handlebars.compile($("#code_item").html());
            var html = template(data);
            popup.bPopup().close();
            window.notification("Successful for save!", true);
            contentCode.html(html);
            runJavascriptsCode();
          } else {
            window.notification(data.error, false);
          }
        }
      })
    }    
    
    $(".add").click(function(event) {
      event.preventDefault();
      popup.bPopup({
        transition: 'slideDown',
        onOpen: function () {
          form.unbind("submit");
          form.submit(function(event) {
            event.preventDefault();
            add();
          });
        }      
      });
    })
    
    $(".popup textarea").keypress(function(event) {
      if (event.keyCode == 13 && event.shiftKey == false) {
        event.preventDefault();
        add();
      } else if (event.keyCode == 27) {
        popup.bPopup().close();
      }
    })
    
    $('.btn_edit').click(function(event) {
      event.preventDefault();
      $(".item_box").removeClass("update");
      var item = $(event.target).parents(".item_box");
      item.addClass("update");
      var textarea = item.find("textarea");
      textarea.focus();
      textarea[0].selectionStart = textarea[0].selectionEnd = textarea[0].textLength;
    })
  
    $('.btn_cancel').click(function(event) {
      event.preventDefault();
      var item = $(event.target).parents(".item_box");
      item.removeClass("update");
    })
  
    $("a[type='delete_code']").click(function(event) {
      event.preventDefault();
      var item = $(event.target).parents(".item_box");
      $(".delete_dialog_" + item.attr("data")).dialog({
        resizable: false,
        height:140,
        modal: true,
        buttons: {
          Yes: function() {
            $(this).dialog("close");
            item.addClass("wait");
            $.ajax({
              type: "POST",
              url: $(event.target).attr("href"),
              data: {
                code: $(event.target).attr("data"),
                lang: "<%= params[:id] %>",
                pack: "<%= params[:package] %>"
              },
              success: function(data) {
                item.removeClass("wait");
                if (data.success) {
                  var template = Handlebars.compile($("#code_item").html());
                  var html = template(data);
                  popup.bPopup().close();
                  window.notification("Successful for delete!", true);
                  contentCode.html(html);
                  runJavascriptsCode();
                } else {
                  window.notification(data.error, false);
                }
              }
            })
          },
          No: function() {
            $(this).dialog("close");
          }
        }
      });
    });
  
    $(".edit textarea").keypress(function(event) {
      if (event.keyCode == 13 && event.shiftKey == false) {
        event.preventDefault();
        update(event);
      } else if (event.keyCode == 27) {
        var item = $(event.target).parents(".item_box");
        item.removeClass("update");
      }
    })
  
    $("a[type='update_code']").click(function(event) {
      event.preventDefault();
      update(event);
    })
  }
  
  var load_index = function(args) {
    $.ajax({
      type: "POST",
      url: "/express_translate/ajax/code/load",
      data: {
        lang: "<%= params[:id] %>",
        pack: "<%= params[:package] %>",
      },
      success: function(data) {
        if (data.success) {
          var template = Handlebars.compile($("#code_item").html());
          contentCode.html(template(data));
          contentCode.css("background-color", "");
          runJavascriptsCode();
        }
      }
    })
  }
  
  load_index();

</script>