<% @LanguageDetail.info(@origin_lang).all.each_with_index do |item, index| %>
  <div class="item_box" data="<%= item['code'] %>">
    <h6 class="index"><%= index + 1 %></h6>
    <h6 class="code"><%= item['code'] %></h6>
    
    <div class='edit'>
      <a class='btn' href="/rlang/ajax/code/update/<%= item['code'] %>" type="update_code" data_show="content_code">Save</a>
      <a class='btn btn_cancel' href="#">Cancel</a>
      <div class="col1 btn_cancel">
        <h2><b>Origin:</b></h2>
        <span><%= item['text'] %></span>
      </div>
      <div class="col1">
        <h2><b>Translate:</b></h2>
        <% code = @LanguageDetail.info(@lang).find(item['code']) %>
        <textarea class="new_value" href="/rlang/ajax/code/update/<%= item['code'] %>"><%= code.nil? ? "" : code['text'] %></textarea>
      </div>
    </div>
  
    <div class="show <%= @origin_lang["id"] == params["id"] ? "origin_list" : "" %>">
      <a class='btn btn_edit' href="#">Edit</a>
      <% if @origin_lang["id"] != @lang["id"] %>
        <a class='btn btn_delete' href="/rlang/ajax/code/delete/<%= item['code'] %>" type="delete_code" data_show="content_code">Delete</a>
        <div class="col1">
          <h2><b>Origin:</b></h2>
          <span class="origin_span"><%= item['text'] %></span>
          <hr>
        </div>
      <% end %>
      <div class="col1 btn_edit">
        <h2><b>Translate:</b></h2>
        <span class="trans_span"><%= code.nil? ? "" : code['text'] %></span>
      </div>
    </div>
    
    <div class="waiting">
      <div class="bubblingG">
        <p id="bubblingG_1"></p>
        <p id="bubblingG_2"></p>
        <p id="bubblingG_3"></p>
      </div>
    </div>
    
    <div class="delete_dialog_<%= item['code'] %>" style="display: none">
      <h4>Are you sure you want to delete?</br><%= item['text'] %></h4>
    </div>
  </div>
<% end %>