<div class="header">
  <h1>RLang</h1>
  <a class="back" href="#"></a>
  <a class="add" href="#add"></a>
</div>

<div class="content">
  <% @packages.each do |package| %>
    <a class="lang package count<%= package['language'].count %>" href="/rlang/package/<%= package['id'] %>">
      <span><%= package['text'].slice(0,1).capitalize + package['text'].slice(1..-1) %></span>
      <p><%= package['language'].count %></p>
      <% package['language'].each_with_index do |lang, index| %>
        <h6 class="index_<%= index %>"><%= lang['text'] %></h6>
      <% end %>
    </a>
  <% end %>
</div>