<div class="header">
  <h1>RLang</h1>
  <a class="back" href="/rlang"></a>
  <a class="add" href="#add"></a>
</div>

<div class="content">
  <% @languages.each do |lang| %>
    <a class="lang count<%= lang['id'] %>" href="/rlang/language/<%= params[:id] %>/<%= lang['id'] %>">
      <span><%= lang['text'].slice(0,1).capitalize + lang['text'].slice(1..-1) %></span>
      <p><%= (@LanguageDetail.info(lang).all.count /  (@max == 0 ? 1 : @max) * 100).to_i %>%</p>
      <h5><%= @LanguageDetail.info(lang).all.count %>/<%= @max %></h5>
    </a>
  <% end %>
</div>